<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image and Heading Layout</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 20px;
        }

        h1 {
            flex: 1;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>My Hobbies</h1>
    <h2>Reading Books</h2>
    <h2>hiking</h2>
    <h2>Playing Table Tennis</h2>
    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/404291299_7324911760875813_967481114367853586_n.jpg?stp=dst-jpg_p206x206&_nc_cat=102&ccb=1-7&_nc_sid=510075&_nc_eui2=AeEXLyPAvHGPZ181CFqEty9gkopOo_bPm16Sik6j9s-bXk8SrL90UnJQeFhYXoKYlu-s3kqdI9qK7Y6CKBInhBbq&_nc_ohc=ILzvyGP025oAX-k75ED&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdS5zwF5PQ9Uktuyayy4CpnJWl_QoGgAAQzkho_PDtJD9A&oe=65908B7D" width="550" >
</body>
</html>
